@keyframes moveone {
  0%, 1% {
    opacity: 1;
    transform: translateY(-300px);
  }
}

@keyframes movetwo {
  0%, 1% {
    opacity: 1;
    transform: translateY(-300px);
  }
}

h1 {
  text-align: center;
}

#gallery-container {
  /* position: relative; */
  width: 500px;
  height: auto;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px #aaaaaa solid;
}

.about {
  margin: 0 auto 1rem;
  max-width: 500px;
  width: 100%;
}

.figure {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow: hidden;
  background-color: rgba(212, 224, 212, 0.9);
}

img.gallery-fullsize {
  display: none;
}

div.items {
  display: inline-block;
}

.controls {
  display: flex;
  justify-content: space-around;
}

.prevs {
  display: flex;
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.nexts {
  margin-right: 20px;
  display: flex;
  overflow: hidden;
  width: 50px;
  height: 50px;
}

.gallery-preview {
  width: 16%;
}

.prev1, .next1 {
  background-image: url("assets/1s.jpg");
}

.prev2, .next2 {
  background-image: url("assets/2s.jpg");
}

.prev3, .next3 {
  background-image: url("assets/3s.jpg");
}

.prev4, .next4 {
  background-image: url("assets/4s.jpg");
}

input.gallery-selector {
  display: none;
}

label.gallery-label {
  cursor: pointer;
}

.items>label.gallery-label {
  padding: 0.5rem 0;
}

label.gallery-label:hover {
  filter: invert(0.2);
}

.gallery-item1:checked~.figure>.img1 {
  opacity: 0;
  display: block;
  animation: moveone 3s 0.1s linear 1;
  opacity: 1;
}

.gallery-item1:checked~.figure>.img2 {
  opacity: 0;
  display: block;
  animation: movetwo 3s linear 1;
  opacity: 1;
}

.gallery-item1:checked~.controls>.prevs>.prev4 {
  order: -1;
}

.gallery-item1:checked~.controls>.nexts>.next2 {
  order: -1;
}

.gallery-item1:checked~.controls>.items>.item1>.gallery-preview {
  transform: scale(1.05);
  border: 1px solid green;
}

.gallery-item2:checked~.figure>.img2 {
  opacity: 0;
  display: block;
  animation: moveone 3s 0.1s linear 1;
  opacity: 1;
}

.gallery-item2:checked~.figure>.img3 {
  opacity: 0;
  display: block;
  animation: movetwo 3s linear 1;
  opacity: 1;
}

.gallery-item2:checked~.controls>.prevs>.prev1 {
  order: -1;
}

.gallery-item2:checked~.controls>.nexts>.next3 {
  order: -1;
}

.gallery-item2:checked~.controls>.items>.item2>.gallery-preview {
  transform: scale(1.05);
  border: 1px solid green;
}

.gallery-item3:checked~.figure>.img3 {
  opacity: 0;
  display: block;
  animation: moveone 3s 0.1s linear 1;
  opacity: 1;
}

.gallery-item3:checked~.figure>.img4 {
  opacity: 0;
  display: block;
  animation: movetwo 3s linear 1;
  opacity: 1;
}

.gallery-item3:checked~.controls>.prevs>.prev2 {
  order: -1;
}

.gallery-item3:checked~.controls>.nexts>.next4 {
  order: -1;
}

.gallery-item3:checked~.controls>.items>.item3>.gallery-preview {
  transform: scale(1.05);
  border: 1px solid green;
}

.gallery-item4:checked~.figure>.img4 {
  opacity: 0;
  display: block;
  animation: moveone 5s 0.1s linear 1;
  opacity: 1;
}

.gallery-item4:checked~.figure>.img5 {
  opacity: 0;
  display: block;
  animation: movetwo 5s linear 1;
  opacity: 1;
}

.gallery-item4:checked~.controls>.prevs>.prev3 {
  order: -1;
}

.gallery-item4:checked~.controls>.nexts>.next1 {
  order: -1;
}

.gallery-item4:checked~.controls>.items>.item4>.gallery-preview {
  transform: scale(1.05);
  border: 1px solid green;
}